.card {
  background: rgb(255, 255, 255);
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
  height: 385px;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
  padding: 0 20px;
}

.thumb {
  /* max-width: 100%;
  height: auto;
  width: auto;
  overflow: hidden; */
  max-width: 100%;
    /* height: 200px; */
    /* width: auto; */
    overflow: hidden;
    /* max-height: 150px; */
    object-fit: cover;
    position: relative;
    top: 0%;
}

.works-card-title {
  padding: 1rem 0;
  font-size: 20px;
  margin: 0;
  color: #333;
}

.works-card-subtitle {
  padding: 1rem 0;
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
